.post-donate {
  margin-top: 64px;
}

.donate_tip {
  text-align: center;
  margin-top: 5%
}

.donate_tip a.btn_donate {
  display: inline-block;
  width: 82px;
  height: 82px;
  margin-left: auto;
  margin-right: auto;
  background: url(http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif)no-repeat;
  -webkit-transition: background 0s;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  -ms-transition: background 0s;
  transition: background 0s
}

.donate_tip a.btn_donate:hover {
  background-position: 0 -82px
}

.donate_tip .donate_tip_txt {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #9d9d9d
}

.donate_tip.hidden {
  display: none
}

#donate_guide {
  height: 180px;
  width: 320px;
  margin: 0 auto
}

.donate_item {
  margin-left: 20px;
  margin-right: 20px;
  float: left
}

.donate_item img {
  width: 120px;
  height: 120px
}

.donate_item .donate_item_txt {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px
}
