<div class ="post-donate">
    <div id="donate_tip" class="donate_tip center">
        <a id="btn_donate" class="btn_donate" href="javascript:;"></a>
        <span class="donate_tip_txt">
		   <%=theme.donate_message%>
        </span>
        <br>
      </div>
	<div id="donate_guide" class="donate_tip center hidden">
		<div class="donate_item">
			<span class="donate_item_txt" style="color:#1dabec">支付宝打赏</span>
			<img src="/img/zhifubaoV2.png" alt="支付宝打赏">
		</div>
		<div class="donate_item">
			<span class="donate_item_txt" style="color:#22cf28">微信打赏</span>
			<img src="/img/weixinV2.png" alt="微信打赏">
		</div>
    </div>
	<script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			$('#donate_tip').addClass('hidden');
			$('#donate_guide').removeClass('hidden');
		}
	</script>
</div>